
#First-Container {
    text-align: center;
}



#Second-Container {
    float:none;
    display:block;
    margin: 0 auto;
    background:white;
    padding-bottom: 15px;
    width: 95%;
    
}


#Third-Container {
    width:430px;
    text-align: left;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
}

#Second-Title {
    text-align: center;
}

#Sign-Off {
     width:350px;
    text-align: left;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    margin-left: 25px;
}


#First-Container p, #Second-Container figcaption, li, #Sign-Off p {
    font-size:11px;
    color:#2e2e2e;
}

li strong {
    color: black;
}

body {
    background:#efefee;
}

img {
    height: 450px;
    width:740px ;
    display:block;
    margin: 0 auto;
}


li {
    padding-bottom: 10px
}


figcaption {
    
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 10px;
    
}
footer {
    text-align:center;
}